<div class="col-1">
    <p>Campeonatos</p>
    <div class="col-11" id="campeonatos">
        <a href="#" class="d-flex">
            <article class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="./lib/midias/Campeonatos/CBLOL.webp" alt="" class="w-25 rounded">
                        <p class="text-center m-2">CBLOL 2024 1° Split</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
    <div class="mt-2"></div>
    <div class="col-11" id="campeonatos">
        <a href="#" class="d-flex">
            <article class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="./lib/midias/Campeonatos/LPL.png" alt="" class="w-25 rounded">
                        <p class="text-center m-2">LPL 2024 Split 1</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
    <div class="mt-2"></div>
    <div class="col-11" id="campeonatos">
        <a href="#">
            <article class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="./lib/midias/Campeonatos/LCK.webp" alt="" class="w-25 rounded">
                        <p class="text-center m-2">LCK 2024 1° Split</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
    <div class="mt-2"></div>
    <div class="col-11" id="campeonatos">
        <a href="#" class="d-flex">
            <article class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="./lib/midias/Campeonatos/LCS.jpg" alt="" class="w-25 rounded">
                        <p class="text-center m-2">LCS 2024 1° Split</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
    <div class="mt-2"></div>
    <div class="col-11" id="campeonatos">
        <a href="#" class="d-flex">
            <article class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="./lib/midias/Campeonatos/LEC.png" alt="" class="w-25 rounded">
                        <p class="text-center m-2">LEC 2024 1° Split</p>
                    </div>
                </div>
            </article>
        </a>
    </div>
</div>