{% load static %}
<div class="col-10">
    <div class="row">
        <div class="col-9">
            <div class="carousel slide" id="carousel-ex" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div data-bs-interval="3000" class="carousel-item active">
                        <img src="{% static '/lib/Banners/2024.png' %}" alt="" class="w-100">
                    </div>
                    <div data-bs-interval="3000" class="carousel-item">
                        <img src="{% static '/lib/Banners/Exodia.png' %}" alt="" class="w-100">
                    </div>
                    <div data-bs-interval="3000" class="carousel-item">
                        <img src="{% static '/lib/Banners/HB20.png' %}" alt="" class="w-100">
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel-ex" class="active" data-bs-slide-to="0"></button>
                    <button type="button" data-bs-target="#carousel-ex" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carousel-ex" data-bs-slide-to="2"></button>
                </div>
            </div>
        </div>
    </div>
</div>