{% extends "global/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% load static %}

{% block css %}
    {% static '/style.css' %}
{% endblock css %}

{% block content %}
    <div class="col-10 d-flex  justify-content-center">
        <div class="col-8">
            <div class="carousel slide" id="carousel-ex" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div data-bs-interval="3000" class="carousel-item active">
                        <img src="{% static '/lib/Banners/2024.png' %}" alt="" class="w-100">
                    </div>
                    <div data-bs-interval="3000" class="carousel-item">
                        <img src="{% static '/lib/Banners/Exodia.png' %}" alt="" class="w-100">
                    </div>
                    <div data-bs-interval="3000" class="carousel-item">
                        <img src="{% static '/lib/Banners/HB20.png' %}" alt="" class="w-100">
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel-ex" class="active" data-bs-slide-to="0"></button>
                    <button type="button" data-bs-target="#carousel-ex" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carousel-ex" data-bs-slide-to="2"></button>
                </div>
            </div>
            <div class="col-12 justify-content-center  mt-5">
                <h3 class="text-center mb-3">Monte seu Time</h3>
                {% include "global/partials/ligas.html" %}
            </div>
        </div>
        <div class="col-4 mt-4">
            <p>Campeonatos</p>
            {% include "global/partials/campeonato.html" %}
        </div>
    </div>
{% endblock content %}
