{% load static %}
<div class="col-11" id="campeonatos">
    <a href="{% url "campeonatos:cblol" %}" class="d-flex">
        <article class="card cblol">
            <div class="card-body">
                <div class="d-flex">
                    <img src="{% static '/lib/Campeonatos/CBLOL.webp' %}" alt="" class="w-25 rounded">
                    <p class="text-center m-2">CBLOL 2024 1° Split</p>
                </div>
            </div>
        </article>
    </a>
</div>
<div class="mt-1"></div>
<div class="col-11" id="campeonatos">
    <a href="{% url "campeonatos:lpl" %}" class="d-flex">
        <article class="card">
            <div class="card-body">
                <div class="d-flex">
                    <img src="{% static '/lib/Campeonatos/LPL.png' %}" alt="" class="w-25 rounded">
                    <p class="text-center m-2">LPL 2024 1° Split</p>
                </div>
            </div>
        </article>
    </a>
</div>
<div class="mt-1"></div>
<div class="col-11" id="campeonatos">
    <a href="{% url "campeonatos:lck" %}" class="d-flex">
        <article class="card">
            <div class="card-body">
                <div class="d-flex">
                    <img src="{% static '/lib/Campeonatos/LCK.webp' %}" alt="" class="w-25 rounded">
                    <p class="text-center m-2">LCK 2024 1° Split</p>
                </div>
            </div>
        </article>
    </a>
</div>
<div class="mt-1"></div>
<div class="col-11" id="campeonatos">
    <a href="{% url "campeonatos:lcs" %}" class="d-flex">
        <article class="card">
            <div class="card-body">
                <div class="d-flex">
                    <img src="{% static '/lib/Campeonatos/LCS.jpg' %}" alt="" class="w-25 rounded">
                    <p class="text-center m-2">LCS 2024 1° Split</p>
                </div>
            </div>
        </article>
    </a>
</div>
<div class="mt-1"></div>
<div class="col-11" id="campeonatos">
    <a href="{% url "campeonatos:lec" %}" class="d-flex">
        <article class="card">
            <div class="card-body">
                <div class="d-flex">
                    <img src="{% static '/lib/Campeonatos/LEC.png' %}" alt="" class="w-25 rounded">
                    <p class="text-center m-2">LEC 2024 1° Split</p>
                </div>
            </div>
        </article>
    </a>
</div>
<div class="mt-1"></div>
<div class="col-11" id="campeonatos">
    <a href="{% url "campeonatos:lla" %}" class="d-flex">
        <article class="card">
            <div class="card-body">
                <div class="d-flex">
                    <img src="{% static '/lib/Campeonatos/LLA.jpg' %}" alt="" class="w-25 rounded">
                    <p class="text-center m-2">LLA 2024 1° Split</p>
                </div>
            </div>
        </article>
    </a>
</div>