<header class="bg-dark">
    <section>
        <div class="container">
            <div class="d-flex">
                <div class="text-center col-11">
                    <img src="{% static 'global/lib/midias/Logos/League-of-Legends-Logo.png' %}" alt="Logo League of Legends" style="width: 120px;">
                </div>
                <div class="col-2 mt-3" id="buttonsheader">
                    <a href="{% url "autenticacao:login" %}">
                        <button class="btn btn-dark login">Login</button>
                    </a>
                    <a href="{% url "autenticacao:cadastro" %}">
                        <button class="btn btn cadastro">Cadastro</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>