{% extends "global/base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
    {% load static %}
        <div class="col-10">
            <div class="col-12 text-center">
                <img src="{% static '/lib/SummonersRiftMap.webp' %}" alt="">
            </div>
            <div class="col-12">
                <article class="card col-9 bg-dark" id="ar_jogadores">
                    <article class="card-header d-flex">
                        <div class="imgcamp">
                            <img src="{% block imgCamp %}{% endblock imgCamp %}" alt="">
                        </div>
                        {% block titleCamp %}{% endblock titleCamp %}
                        <article class="card bg-dark carteira">
                            <div class="d-flex">
                                <span><i class="bi bi-wallet" id="icones"></i></span>
                                <span class="col-1"></span>
                                <label class="bg-dark d-flex">
                                    <h6>R$</h6>
                                    <span class="col-1"></span>
                                    <h6 id="precoFinal">1.000.000</h6>
                                </label>
                            </div>
                        </article>
                    </article>
                    <article class="card-body d-flex">
                        <article class="card col-2 bg-dark" id="modalTOP">
                            <article class="card-body">
                                <img src="{% static 'global/lib/League-of-Legends-Logo.png' %}" alt="" class="col-3 mb-2 rounded pais">
                                <img src="{% static 'global/lib/Iconpag.png' %}" alt="" class="col-3 mb-2 time">
                                <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                                    <img src="{% static '/lib/Moeda.png' %}" alt="" class="col-3 mb-1">
                                </span>
                                <img src="{% static '/lib/Jogadores/images.png' %}" alt="" class="col-12" id="imgJogador">
                                <div class="d-flex justify-content-center mb-2">
                                    <img src="{% static '/lib/Funções/Top.png' %}" alt="" class="col-5 mt-2" id="funcao">
                                    <h6 class="Fnome">TOP</h6>
                                </div>
                                <button class="btn btn-success col-12 bg-dark"  data-toggle="modal" data-target="#comprarTOP"><i class="bi bi-plus-lg"></i></button>
                            </article>
                        </article>
                        <span id="espaco"></span>
                        <article class="card col-2 bg-dark" id="modalJungler">
                            <article class="card-body">
                                <img src="{% static 'global/lib/League-of-Legends-Logo.png' %}" alt="" class="col-3 mb-2 rounded pais">
                                <img src="{% static 'global/lib/Iconpag.png' %}" alt="" class="col-3 mb-2 time">
                                <span  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                                    <img src="{% static '/lib/Moeda.png' %}" alt="" class="col-3 mb-1">
                                </span>
                                <img src="{% static '/lib/Jogadores/images.png' %}" alt="" class="col-12" id="imgJogador">
                                <div class="d-flex justify-content-center mb-2">
                                    <img src="{% static '/lib/Funções/Jungler.png' %}" alt="" class="col-5 mt-2" id="funcao">
                                    <h6 class="Fnome">Jungler</h6>
                                </div>
                                <button class="btn btn-success col-12 bg-dark" data-toggle="modal" data-target="#comprarJungler"><i class="bi bi-plus-lg"></i></button>                              </article>
                        </article>
                        <span id="espaco"></span>
                        <article class="card col-2 bg-dark" id="modalMID">
                            <article class="card-body">
                                <img src="{% static 'global/lib/League-of-Legends-Logo.png' %}" alt="" class="col-3 mb-2 rounded pais">
                                <img src="{% static 'global/lib/Iconpag.png' %}" alt="" class="col-3 mb-2 time">
                                <span  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                                    <img src="{% static '/lib/Moeda.png' %}" alt="" class="col-3 mb-1">
                                </span>
                                <img src="{% static '/lib/Jogadores/images.png' %}" alt="" class="col-12" id="imgJogador">
                                <div class="d-flex justify-content-center mb-2">
                                    <img src="{% static '/lib/Funções/Mid.png' %}" alt="" class="col-5 mt-2" id="funcao">
                                    <h6 class="Fnome">MID</h6>
                                </div>
                                <button class="btn btn-success col-12 bg-dark" data-toggle="modal" data-target="#comprarMID"><i class="bi bi-plus-lg"></i></button>                               </article>
                        </article>
                        <span id="espaco"></span>
                        <article class="card col-2 bg-dark" id="modalADC">
                            <article class="card-body">
                                <img src="{% static 'global/lib/League-of-Legends-Logo.png' %}" alt="" class="col-3 mb-2 rounded pais">
                                <img src="{% static 'global/lib/Iconpag.png' %}" alt="" class="col-3 mb-2 time">
                                <span  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                                    <img src="{% static '/lib/Moeda.png' %}" alt="" class="col-3 mb-1">
                                </span>
                                <img src="{% static '/lib/Jogadores/images.png' %}" alt="" class="col-12" id="imgJogador">
                                <div class="d-flex justify-content-center mb-2">
                                    <img src="{% static '/lib/Funções/BotADC.png' %}" alt="" class="col-5 mt-2" id="funcao">
                                    <h6 class="Fnome">ADC</h6>
                                </div>
                                <button class="btn btn-success col-12 bg-dark" data-toggle="modal" data-target="#comprarADC"><i class="bi bi-plus-lg"></i></button>                               </article>
                        </article>
                        <span id="espaco"></span>
                        <article class="card col-2 bg-dark" id="modalSUP">
                            <article class="card-body">
                                <img src="{% static 'global/lib/League-of-Legends-Logo.png' %}" alt="" class="col-3 mb-2 rounded pais">
                                <img src="{% static 'global/lib/Iconpag.png' %}" alt="" class="col-3 mb-2 time">
                                <span  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                                    <img src="{% static '/lib/Moeda.png' %}" alt="" class="col-3 mb-1">
                                </span>
                                <img src="{% static '/lib/Jogadores/images.png' %}" alt="" class="col-12" id="imgJogador">
                                <div class="d-flex justify-content-center mb-2">
                                    <img src="{% static '/lib/Funções/BotSuporte.png' %}" alt="" class="col-5 mt-2" id="funcao">
                                    <h6 class="Fnome">SUP</h6>
                                </div>
                                <button class="btn btn-success col-12 bg-dark" data-toggle="modal" data-target="#comprarSUP"><i class="bi bi-plus-lg"></i></button>                               </article>
                        </article>
                        <span id="espaco"></span>
                        <article class="card col-2 bg-dark" id="modalCoach">
                            <article class="card-body">
                                <img src="{% static 'global/lib/League-of-Legends-Logo.png' %}" alt="" class="col-3 mb-2 rounded pais">
                                <img src="{% static 'global/lib/Iconpag.png' %}" alt="" class="col-3 mb-2 time">
                                <span  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="">
                                    <img src="{% static '/lib/Moeda.png' %}" alt="" class="col-3 mb-1">
                                </span>
                                <img src="{% static '/lib/Jogadores/images.png' %}" alt="" class="col-12" id="imgJogador">
                                <div class="d-flex justify-content-center mb-2">
                                    <img src="{% static '/lib/Funções/Coach.png' %}" alt="" class="col-5 mt-2" id="funcao">
                                    <h6 class="Fnome">Coach</h6>
                                </div>
                                <button class="btn btn-success col-12 bg-dark" data-toggle="modal" data-target="#comprarCoach"><i class="bi bi-plus-lg"></i></button>
                            </article>
                        </article>
                    </article>
                    <article class="card-footer">
                        <div class="row">
                            <article class="card" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Selecione 5 Jogadores">
                                <i class="bi bi-person" id="icones"></i>
                            </article>
                            <article class="card" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Salário máximo de R$1.000.00">
                                <i class="bi bi-wallet" id="icones"></i>
                            </article>
                            <article class="card" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Máximo de 3 jogadores por time ">
                                <i class="bi bi-flag" id="icones"></i>
                            </article>
                            <button class="btn btn-danger" type="reset" id="limpar">Limpar</button>
                            <button class="btn btn-success" type="submit">Salvar</button>                                
                        </div>
                    </article>
                </article>
            </div>
        </div>
        <div class="modal t-modal primary" id="comprarTOP" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <img src="{% static '/lib/Funções/Top.png' %}" alt="Top Laner" class="col-1 rounded m-1">
                        <h5>Top Laners</h5>
                        <button data-dismiss="modal" type="button" class="btn active border-0"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body" id="tabelaTOP">
                        <!-- Criado no JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal t-modal primary" id="comprarJungler" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <img src="{% static '/lib/Funções/Jungler.png' %}" alt="Jungler" class="col-1 rounded m-1">
                        <h5>Caçadores</h5>
                        <button data-dismiss="modal" type="button" class="btn active border-0"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body" id="tabelaJungler">
                        <!-- Criado no JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal t-modal primary" id="comprarMID" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <img src="{% static '/lib/Funções/Mid.png' %}" alt="Mid Laner" class="col-1 rounded m-1">
                        <h5>Mid Laners</h5>
                        <button data-dismiss="modal" type="button" class="btn active border-0"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body" id="tabelaMID">
                        <!-- Criado no JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal t-modal primary" id="comprarADC" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <img src="{% static '/lib/Funções/BotAdc.png' %}" alt="Bot Atirador" class="col-1 rounded m-1">
                        <h5>Atiradores</h5>
                        <button data-dismiss="modal" type="button" class="btn active border-0"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body" id="tabelaADC">
                        <!-- Criado no JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal t-modal primary" id="comprarSUP" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <img src="{% static '/lib/Funções/BotSuporte.png' %}" alt="Bot Suporte" class="col-1 rounded m-1">
                        <h5>Suportes</h5>
                        <button data-dismiss="modal" type="button" class="btn active border-0"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body" id="tabelaSUP">
                        <!-- Criado no JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal t-modal primary" id="comprarCoach" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <img src="{% static '/lib/Funções/Coach.png' %}" alt="Coach" class="col-1 rounded m-1">
                        <h5>Coachs</h5>
                        <button data-dismiss="modal" type="button" class="btn active border-0"><i class="bi bi-x-lg"></i></button>
                    </div>
                    <div class="modal-body" id="tabelaCoach">
                        <!-- Criado no JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <script>
            var staticUrl = "{% static '' %}";
        </script>
{% endblock content %}