{% extends "global/header.html" %}

{% block title %}{{title}}{% endblock title %}

{% load static %}

{% block content %}
    <div class="col-1 m-5" id="tabelaCamp">
        <table class="table table-hover table-dark">
            <thead class="w-25">
                <tr>
                    <th>20/02/2024</th>
                </tr>
            </thead>
            <tbody class="row">
                {% for game in game_data %}
                    <tr class="col-9">
                        <td><img src={% static "lib/LogosOrgs/LOUD.png" %} alt="" style="width: 20px;"></td>
                        <td><img src={% static "lib/LogosOrgs/LOUD.png" %} alt="" style="width: 20px;"></td>
                        <td><img src={% static "lib/LogosOrgs/LOUD.png" %} alt="" style="width: 20px;"></td>
                        <td><img src={% static "lib/LogosOrgs/LOUD.png" %} alt="" style="width: 20px;"></td>
                        <td>{{ game.team1_score }}</td>
                        <td>{{ game.team2_score }}</td>
                        <td><img src={% static "lib/LogosOrgs/LOUD.png" %} alt="" style="width: 20px;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}