{% extends "global/base.html" %}

{% block texto %}{{text}}{% endblock texto %}

{% block articles %}
    <article class="card-header d-flex">
        <div class="imgcamp">
            <img src="{{article.img}}" alt="">
        </div>
        <p>{{article.title}}</p>
        <article class="card bg-dark carteira">
            <div class="d-flex">
                <span><i class="bi bi-wallet" id="icones"></i></span>
                <span class="col-1"></span>
                <label class="bg-dark d-flex">
                    <h6>R$</h6>
                    <span class="col-1"></span>
                    <h6 id="precoFinal">1.000.000</h6>
                </label>
            </div>
        </article>
    </article>
{% endblock articles %}